html{
    width: 100%;
    height: 100%;
    
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(28, 13, 119);
    padding: 0;
}
.main{
}
.buttons{
    position: relative;
    background-color: rgba(245, 245, 245, 0.1);
    
}
.bt_set{
    display: block;
}
.sound_button{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    margin:13px;
    background: radial-gradient(rgb(252, 253, 200), rgb(255, 238, 0));
    border: none;
    outline: none;
    font-family: 'Cute Font', cursive;
    font-size: 150px;
    color:aliceblue;
}
@media screen and (min-height: 1000px) {
    .sound_button{
        width: 180px;
        height: 180px;
    }
  }
.sound_button:active{
    background: radial-gradient(rgb(249, 255, 196), rgb(251, 255, 30));
    border: none;
}
@media screen and (max-height: 800px) {
    .sound_button{
        width: 140px;
        height: 140px;
    }
  }
@media screen and (max-height: 750px) {
    .sound_button{
        width: 130px;
        height: 130px;
    }
  }
@media screen and (max-height: 700px) {
    .sound_button{
        width: 120px;
        height: 120px;
    }
  }
  @media screen and (max-height: 600px) {
    .sound_button{
        width: 100px;
        height: 100px;
        margin:8px;
    }
  }
#sound_2_bt{
    background: radial-gradient(rgb(223, 255, 219), rgb(0, 194, 10));
}
#sound_2_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(0, 233, 31));
}
#sound_3_bt{
    background: radial-gradient(rgb(255, 210, 210), rgb(255, 60, 0));
}
#sound_3_bt:active{
    background: radial-gradient(rgb(255, 211, 211), rgb(255, 96, 33));
}
#sound_4_bt{
    background: radial-gradient(rgb(192, 246, 255), rgb(31, 210, 255));
}
#sound_4_bt:active{
    background: radial-gradient(rgb(207, 244, 255), rgb(52, 214, 255));
}
#sound_5_bt{
    background: radial-gradient(#fdd8d3, rgb(255, 76, 21));
}
#sound_5_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(255, 70, 37));
}
#sound_6_bt{
    background: radial-gradient(rgb(235, 206, 255), rgb(167, 14, 255));
}
#sound_6_bt:active{
    background: radial-gradient(rgb(233, 200, 255), rgb(141, 47, 248));
}
#sound_8_bt{
    background: radial-gradient(rgb(238, 212, 253), rgb(68, 7, 236));
}
#sound_8_bt:active{
    background: radial-gradient(rgb(239, 216, 255), rgb(132, 40, 252));
}
#sound_7_bt{
    background: radial-gradient(rgb(248, 248, 248), rgb(230, 129, 255));
}
#sound_7_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(235, 154, 255));
}

.show{
    border:2px red solid;
}

.playlist{
    /*position: absolute;
    left: 10%;
    top: 10%;*/
    width: 100%;
    display: inline;


}

.list{
    background-color: black;
    font-size: 24px;
    color: white;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

#start{
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    width: 30px;
    height:30px;
    border-radius: 50%;
    outline: none;
}

#stop{
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    width: 30px;
    height:30px;
    border-radius: 50%;
    outline: none;
}

.hidden{
    display: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}