html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    /*display: block;*/
    text-align: center;
    background-color: rgb(28, 13, 119);
    padding: 0;
}
.buttons{
    position: relative;
}
.bt_set{
    display: block;
}
.sound_button{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    margin:13px;
    background: radial-gradient(rgb(248, 248, 248), rgb(13, 74, 207));
    border: none;
    outline: none;
}
.sound_button:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(7, 99, 236));
    border: none;
}
#sound_2_bt{
    background: radial-gradient(rgb(248, 248, 248), rgb(236, 7, 7));
}
#sound_2_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(236, 80, 7));
}
#sound_3_bt{
    background: radial-gradient(rgb(248, 248, 248), rgb(1, 235, 52));
}
#sound_3_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(60, 236, 7));
}
#sound_4_bt{
    background: radial-gradient(rgb(248, 248, 248), rgb(182, 7, 236));
}
#sound_4_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(198, 7, 236));
}
#sound_5_bt{
    background: radial-gradient(rgb(248, 248, 248), rgb(236, 7, 95));
}
#sound_5_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(236, 7, 133));
}
#sound_6_bt{
    background: radial-gradient(rgb(248, 248, 248), rgb(236, 232, 7));
}
#sound_6_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(251, 255, 0));
}
#sound_8_bt{
    background: radial-gradient(rgb(248, 248, 248), rgb(7, 171, 236));
}
#sound_8_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(0, 217, 255));
}
#sound_7_bt{
    background: radial-gradient(rgb(248, 248, 248), rgb(187, 255, 0));
}
#sound_7_bt:active{
    background: radial-gradient(rgb(248, 248, 248), rgb(217, 255, 0));
}

.show{
    border:5px red solid;
}